---
BasedOnStyle: Google
Language: Cpp
IndentWidth: 4
ColumnLimit: 140
PointerAlignment: Left
AlignTrailingComments: true
BreakBeforeBinaryOperators: All 
AlignOperands: true
AllowShortCaseLabelsOnASingleLine: true
