[submodule "externals/SDL2"]
	path = externals/SDL2
	url = https://github.com/spurious/SDL-mirror
	ignore = dirty
[submodule "externals/imgui"]
	path = externals/imgui
	url = https://github.com/ocornut/imgui
[submodule "externals/glm"]
	path = externals/glm
	url = https://github.com/g-truc/glm.git
[submodule "externals/json"]
	path = externals/json
	url = https://github.com/nlohmann/json.git
[submodule "externals/catch"]
	path = externals/catch
	url = https://github.com/catchorg/Catch2.git
[submodule "externals/flac"]
	path = externals/flac
	url = https://github.com/xiph/flac
[submodule "externals/lzma"]
	path = externals/lzma
	url = https://github.com/jljusten/LZMA-SDK
[submodule "externals/libchdr"]
	path = externals/libchdr
	url = https://github.com/JaCzekanski/libchdr
[submodule "premake/androidmk"]
	path = premake/androidmk
	url = https://github.com/JaCzekanski/premake-androidmk.git
[submodule "externals/filesystem"]
	path = externals/filesystem
	url = https://github.com/gulrak/filesystem.git
[submodule "externals/EventBus"]
	path = externals/EventBus
	url = https://github.com/gelldur/EventBus.git
[submodule "externals/magic_enum"]
	path = externals/magic_enum
	url = https://github.com/Neargye/magic_enum.git
[submodule "externals/fmt"]
	path = externals/fmt
	url = https://github.com/fmtlib/fmt
