[submodule "externals/SDL2"]
	path = externals/SDL2
	url = https://github.com/spurious/SDL-mirror
	ignore = dirty
[submodule "externals/imgui"]
	path = externals/imgui
	url = https://github.com/ocornut/imgui
[submodule "externals/glm"]
	path = externals/glm
	url = https://github.com/g-truc/glm.git
[submodule "externals/json"]
	path = externals/json
	url = https://github.com/nlohmann/json.git
[submodule "externals/catch"]
	path = externals/catch
	url = https://github.com/catchorg/Catch2.git
