language: cpp
cache: ccache
git:
  depth: 1

matrix:
  include:
  - name: Linux Clang6
    os: linux
    dist: bionic
    services: docker
    script: "./.travis/linux/run-container.sh 6"
  - name: Linux Clang8
    os: linux
    dist: bionic
    services: docker
    script: "./.travis/linux/run-container.sh 8"
  - name: Android
    os: linux
    dist: bionic
    services: docker
    before_install: openssl aes-256-cbc -K $encrypted_7333c7dd5b15_key -iv $encrypted_7333c7dd5b15_iv -in android/avocado.keystore.enc -out android/avocado.keystore -d
    script: "./.travis/android/run-container.sh"
  - name: macOS
    os: osx
    osx_image: xcode10.1
    install: "./.travis/macos/install-dependencies.sh"
    script: "./.travis/macos/build.sh"


after_success: "./.travis/notify-discord.sh success $WEBHOOK_URL"
after_failure: "./.travis/notify-discord.sh failure $WEBHOOK_URL"

notifications:
  email: false

deploy:
  provider: script
  script: "./.travis/deploy.sh $DEPLOY_KEY upload/*"
  skip_cleanup: true
  on:
    all_branches: true

env:
  global:
    secure: rMChu2sm/PgLw+74wIIdVxqa6KMTCOUs3h9JePxYwMIQyvs3rdtYe0h0yCwP6q/TlSK0zFWiU09QQ9FaoSknb0AGvPrK+dVnRC/jyEcHqy25FH/58hkttjbQLd3vTBB4kLQ1LIl/vlkXwk54F4NAEKTjQnIZSSQ82eVZ9UNtpddU+R8xa7ZrPpmxUNKw15EjjaZK54QdqQqQAc3dw/h8bwrYUQKeNA/EgM7Zv+ibSDp8aLX/hCkJldlpbC3oa01CitKGqUwIa8y2Z+cHi9tGyj4fJAL7rJvs2hEJN17F7pr7q+xfeQxRAkRTHjMgfqlC9Lt1uCZzljc7IrKSDo03jr7WYeb8Ar5IIeVbNMTK+CJ2ljVQtEardN6OGAvhgsFzCsiQ5AADz4bxqzgtQ2XdkIM+1N9j6nbTxK4B14veM0J1/IrMO/TzV/lZ2GcHqrxiSlj+NBu68ov/i6GvyCqOQ/5H6MVybKyFWIr9i4N5R6Vp+1eugRzo7lsA7NesZeW7Y4Kz5g0rNoalP/GEmVc549wpU9eHFJAhcjiYJF0lPdJPsmZnlNXa+LS1oJFC6972+fK0GSru5fX8qlJALG0kSpygiZR8dq/q1pEVRKtIz1uvIOY526GqEeIfch39Bp0hMCqhJ/AQfXTSzFTwJtnCo0lZO7lNPifwkJ8PHn1WTLI=
